*
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
}

.collapse {
    position: relative;
    align-content: center;
    align-items: center;
    background-color: black;
}

.nav-item  {
    margin: 10px;
    border: 3px solid;
    border-radius: 50px 50px 50px 50px;
    border-color: rgb(58, 56, 56);
    transition: .5s;
    color:  black;
    -webkit-box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.91);
    -moz-box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.91);
    box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.911);

}

.nav-item-2 {
    float: right;
    margin: 10px;
    border: 3px solid;
    border-radius: 50px 50px 50px 50px;
    border-color: rgb(58, 56, 56);
    transition: .5s;
    color:  black;
    -webkit-box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.91);
    -moz-box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.91);
    box-shadow: inset 0px 0px 20px -1px rgba(248, 8, 8, 0.911);
}

.nav-link {
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  black;
}
.nav-link:hover {
    color: red;
    font-size: 30px;
    border: 3px solid;
    border-radius: 50px 50px 50px 50px;
    border-color: rgb(238, 30, 30);
    transition: background-color 0.2s ease;
    display: block;
    -webkit-box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
    -moz-box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
    box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
}

h1 {
    font-size: 85px;
    color: black;
    font-family: 'Londrina Sketch', cursive;
	text-align: left;
    text-decoration: underline;
    margin-left: 50px;
}
.get {
    font-size: 75px;
    color: rgb(231, 100, 24);
    font-family: 'Londrina Sketch', cursive;
    text-decoration: underline;
    margin-top: 50px;
    float: right;
}
.content {
    background: rgb(170, 165, 165);
    background: linear-gradient(bottom, rgb(97, 87, 87), rgba(255, 76, 6, 0.658));
    background: -webkit-linear-gradient(bottom, rgb(184, 111, 111), rgba(252, 3, 3, 0.4));
    background: -moz-linear-gradient(bottom, rgb(201, 96, 96), rgba(243, 7, 7, 0.568));
    border: 10px solid white;
    -webkit-box-shadow: 40px 50px 160px 30px rgba(248, 1, 1, 0.7);
    -moz-box-shadow: 40px 50px 160px 30px rgba(248, 1, 1, 0.7);
    box-shadow: 0px 0px 160px 30px rgba(248, 1, 1, 0.7);
    width: 90%;
    height: 80%;
	padding: 20px;
	margin: 150px auto;
    font-family: calibri;
    transition: .5s;
    border-radius: 50px 50px 50px 50px;
}

h2 {
	font-size: 40px;
    color: rgb(202, 189, 189);
    transition: .5s;
}
h2:hover {
    font-size: 50px;
    color: rgb(202, 189, 189);
    transition: .2s;
    text-align: center;
}

.fas {
    color: rgb(203, 247, 7);
    font-size: 70px;
    border: 5px solid  black;
    border-radius: 50%;
    transition: .5s;
}
.fas:hover {
    font-size: 75px;
    color: red;
    border: 4px solid  rgb(247, 227, 49);
    border-radius: 50%;
    transition: .5s;
}

.fab {
  
    color: rgb(203, 247, 7);
    font-size: 70px;
    border: 5px solid black ;
    border-radius: 50%;
    transition: .5s;
}
.fab:hover {
    font-size: 75px;
    color: red;
    border: 4px solid  rgb(247, 227, 49);
    border-radius: 50%;
    transition: .5s;
}
.btn {
    width: 160px;
    height: 70px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 10px 3px rgb(231, 5, 5);
    font-size: 20px;
    font-weight: bold;
    color: rgb(231, 193, 22);

  
}