@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 1;
}
body::-webkit-scrollbar {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    color: white;
}
.brand-title {
    font-size: 40px;
    margin: .3rem;
    font-weight: bolder;
    letter-spacing: 0rem;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #6d17cb 0%, #2876f9 74%);
    border-radius: 50px 50px 50px 50px;
}
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
a {
    font-size: 28px;
    text-align: center;
    color: white;
    font-weight: bolder;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
section {
    text-align: center;
    height: 100vh;
    background: #000;
}
video {
    width: 98vw;
    position: absolute;
    top: 0%;
    left: 0;
}
h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    justify-items: center;
    color: #ddd;  
    font-size: 9em;
    font-family: 'Rubik', sans-serif;
    letter-spacing : 0.16em;
    font-weight: bold;
    text-shadow: 15px 15px 10px #5f5b5b; 
}
h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

h1 span:nth-child(1) {
    animation-delay: 1s;
}
h1 span:nth-child(2) {
    animation-delay: 2s;
}
h1 span:nth-child(3) {
    animation-delay: 2.5s;
}
h1 span:nth-child(4) {
    animation-delay: 3s;
}
h1 span:nth-child(5) {
    animation-delay: 3.5s;
}
h1 span:nth-child(6) {
    animation-delay: 4s;
}
h1 span:nth-child(7) {
    animation-delay: 4.5s;
}
h1 span:nth-child(8) {
    animation-delay: 5s;
}
h1 span:nth-child(9) {
    animation-delay: 5s;
}
h1 span:nth-child(10) {
    animation-delay: 5.5s;
}
h1 span:nth-child(11) {
    animation-delay: 6s;
}
h1 span:nth-child(12) {
    animation-delay: 7s;
}

@media (max-width: 720px) {
    body {
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        background-color: black;
        z-index: 1;
    }
    .toggle-button {
        display: flex;

    }
    .brand-title {
        font-size: 25px;
        margin: auto;
    }
    .navbar-links {
        display: none;
        width: 100%;

    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-links li:hover {
        background-color: #2876f9;
        background-image: linear-gradient(315deg, #6d17cb 0%, #2876f9 74%);
    }
    .navbar {
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(70, 6, 6);
    }

    section {
        text-align: center;
        height: 100vh;
        background: #000;
    }
    video {
        width: 100vw;
        position: absolute;
        top: 40%;
        left: -30px;
    }
    h1 {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        width: 95vw;
        text-align: center;
        justify-items: center;
        color: #ddd;  
        font-size: 2.5em;
        font-family: 'Rubik', sans-serif;
        letter-spacing : 0.1em;
        font-weight: bold;
        text-shadow: 5px 5px 1px #5f5b5b; 
    }
    h1 span {
        opacity: 0;
        display: inline-block;
        animation: animate 1s linear forwards;
    }
    
}