*
body {
	background-image: url(../../blur.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
    background-attachment: fixed;
}
.navbar {
    position: fixed;
    top:0;
    right:0;
    left:0;
}
.collapse {
    margin-left: 1200px;
}
.nav-item {
    font-size: 20px;
    color: #4e14ec;
    border:
    transition: .5s;
    margin-right: 20px;

}
.nav-item:hover {
    background-color: royalblue;
    font-size: 30px;
    color: #4e14ec;
    border: 3px solid;
    transition: .5s;
}