*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    overflow-y: scroll;
    z-index: 1;
}

body::-webkit-scrollbar {
    display: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    color: white;
}

.brand-title {
    font-size: 40px;
    margin: .3rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    

}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}


.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #6d17cb 0%, #2876f9 74%);
    border-radius: 50px 50px 50px 50px;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

a {
    font-size: 28px;
    text-align: center;
    color: white;
    font-weight: bolder;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.row {
    margin: 10px;
}

.card {
    background-color: grey;
    border: 2px solid white;
    border-radius: 25px 25px 25px 25px;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    text-align: center;
    margin-top: 110px;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
    -moz-box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
    box-shadow: 0px 0px 162px 4px rgba(250,0,0,0.74);
}

.card-img-top {
    border-radius: 25px 25px 5px 5px;
    border: 2px solid black;
}

h5 {
    text-align: center;
}
.col.mb-4{
    height: auto;
    max-height: 600px;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    width: 90%;
}

.card-title:hover {
    text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: bold;
    -webkit-text-fill-color: black; 
}

@media (max-width: 720px) {
    .toggle-button {
        display: flex;
        margin: auto 0 auto 0;

    }
    .brand-title {
        font-size: 35px;
        margin: auto; 
    }
    .navbar-links {
        display: none;
        width: 100%;

    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-links li:hover {
        background-color: #2876f9;
        background-image: linear-gradient(315deg, #6d17cb 0%, #2876f9 74%);
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(70, 6, 6);
    }
    .card {
        background-color: grey;
        width: 100%;
        height: auto;
        border: 2px solid white;
        border-radius: 25px 25px 25px 25px;
        background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
        text-align: center; 
        margin-top: 85px;  
    }
    .row {
        margin: 0px;
    }
    .col.mb-4{
        
        max-height: 400px;
        height: auto;

    }
    .card:hover{
        -webkit-box-shadow: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px;
    }
    .card-img-top {
        border-radius: 25px 25px 5px 5px;
        border: 2px solid black;
    }
    p {
        font-size: 15px;
        font-weight: bold;
        -webkit-text-fill-color: black; 
    }
    .card-body {
        padding: 0px;
    }
    .card-title {
        font-size: 20px;
    }
}